

button{
    font-size: 30px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
/* .display
{
    height: 50px;
    width: 210px;
    border: 2px solid black;
} */
 input{
    font-size: 30px;
    height: 90px;
    width: 330px;
    border: 2px solid black;
    border-radius: 20px;
 }
 .calc{
    border: 2px solid black;
    width: 430px;
    height: 550px;
    margin-left: 100px;
    /* border-top: 10px;
    border-left: 10px; */
    background-color:black;
    margin-left: 500px;
    margin-top: 80px;
    border-radius: 30px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 1px 1px 10px 1px;
 }
